<a href="https://colab.research.google.com/github/MunYeong0723/NLP_mini-project/blob/master/Surprise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [321]:
# !pip install scikit-surprise

In [322]:
import pandas as pd
from ast import literal_eval
from surprise import SVD, Dataset, accuracy, Reader
from surprise.model_selection import train_test_split

In [323]:
pd.set_option('display.max_columns', 6)
pd.set_option('display.width', 300)

In [324]:
movie_list = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_mini-project/data/list_movie.csv')
movie_list.columns = ['movie_code', 'title', 'year', 'genres', 'ratings_avg']
movie_list

    movie_code                  title  year                               genres  ratings_avg
0      md6B3Ad                 대부 일대기  1992                        ['드라마', '범죄']          4.4
1      mNdKBkO                 쇼생크 탈출  1994                              ['드라마']          4.4
2      mV539wO               인생은 아름다워  1997                       ['드라마', '코미디']          4.4
3      mW4LYBo          하이큐!! 콘셉트의 싸움  2017                     ['애니메이션', '스포츠']          4.4
4      m5r0pVO            12인의 노한 사람들  1997                        ['드라마', '범죄']          4.2
..         ...                    ...   ...                                  ...          ...
292    mWvDGZd                     써니  2011                       ['드라마', '코미디']          4.0
293    m5338w5                 미녀와 야수  1991  ['애니메이션', '가족', '판타지', '로맨스', '키즈']          4.0
294    m5XMJ1W          노인을 위한 나라는 없다  2007                 ['범죄', '스릴러', '드라마']          4.0
295    mVWzLNd  내가 널 사랑할 수 없는 10가지 이유  1999                   ['로맨틱코미디', '틴에이저']          4.0
296    m5DGrlR                     벌새  2018                              ['드라마']          3.9

[297 rows x 5 columns]

In [325]:
user_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_mini-project/data/user_data.csv')

user_data.fillna("[]", inplace=True)

user_data['rt_movie'] = user_data['rt_movie'].apply(literal_eval)
user_data['wish_movie'] = user_data['wish_movie'].apply(literal_eval)

user_data

         user_code                                           rt_movie                                         wish_movie
0    6ADvGQwymxzZl  [{'movie_code': 'mNdKBkO', 'movie_title': '쇼생크...  [{'code': 'mjO0zL5', 'title': '대부', 'year': 19...
1    aJYMKqmk5loDW  [{'movie_code': 'm5Q9Zg8', 'movie_title': '조커'...  [{'code': 'mOAnkZd', 'title': '그들만의 세상', 'year...
2    87Gv7Z6QVqE6o  [{'movie_code': 'm5Q9ZMR', 'movie_title': '터미네...  [{'code': 'mdRJybd', 'title': '더 텐 오클락 피플', 'y...
3    36lvXKdAPqXdn  [{'movie_code': 'mOPV7VD', 'movie_title': '인비저...  [{'code': 'mOlpNeO', 'title': '아바타 3', 'year':...
4    17ovVmrwBqzyn  [{'movie_code': 'mWvkk73', 'movie_title': '리차드...  [{'code': 'mOAZkmV', 'title': '벌집의 아이들', 'year...
..             ...                                                ...                                                ...
253  17ovV7K4R5zyn  [{'movie_code': 'm5Q9Zg8', 'movie_title': '조커'...  [{'code': 'mdRLwyg', 'title': '코멘트 유콩 디플라카 레스 ...
254  j4PxOEBKdvp0Q  [{'movie_code': 'mOPV7VD', 'movie_title': '인비저...  [{'code': 'm5nXQq9', 'title': '신림', 'year': 20...
255  2mwvgNnAOqMa7  [{'movie_code': 'mNdKBkO', 'movie_title': '쇼생크...                                                 []
256  VRZv4n39Pxr6y  [{'movie_code': 'mOPV7VD', 'movie_title': '인비저...  [{'code': 'mOAZ6VE', 'title': '컨페티 하베스트', 'yea...
257  2mwvgZAyQqMa7  [{'movie_code': 'mWvkk73', 'movie_title': '리차드...  [{'code': 'mW4j0gd', 'title': '719호의 손님들', 'ye...

[258 rows x 3 columns]

In [326]:
user_movie_rating_origin = pd.DataFrame(columns=['user_code', 'movie_code', 'movie_rating'])
user_movie_wish_origin = pd.DataFrame(columns=['user_code', 'movie_code'])

for i in range(len(user_data)):
    user = user_data.iloc[i]
    user_code = user['user_code']
    for mv in user['rt_movie']:
        user_movie_rating_origin = user_movie_rating_origin.append({'user_code' : user_code,
                                                                    'movie_code' : mv['movie_code'],
                                                                    'movie_rating': mv['movie_rating']
                                                                }, ignore_index=True)

    for wish in user['wish_movie']:
        user_movie_wish_origin = user_movie_wish_origin.append({'user_code' : user_code,
                                                                'movie_code' : wish['code']}, ignore_index=True)


print(user_movie_rating_origin)
print(user_movie_wish_origin)

          user_code movie_code  movie_rating
0     6ADvGQwymxzZl    mNdKBkO           4.0
1     6ADvGQwymxzZl    mV539wO           4.0
2     6ADvGQwymxzZl    mW4L2XW           3.0
3     6ADvGQwymxzZl    mJOVXR5           3.0
4     6ADvGQwymxzZl    mJ5x8x5           5.0
...             ...        ...           ...
2575  2mwvgZAyQqMa7    m5Q9ZMR           2.0
2576  2mwvgZAyQqMa7    mNdKBkO           5.0
2577  2mwvgZAyQqMa7    mV539wO           4.5
2578  2mwvgZAyQqMa7    mW4L2XW           5.0
2579  2mwvgZAyQqMa7    mJOVXR5           5.0

[2580 rows x 3 columns]
          user_code movie_code
0     6ADvGQwymxzZl    mjO0zL5
1     6ADvGQwymxzZl    mWy4nk5
2     6ADvGQwymxzZl    mO2MoxW
3     6ADvGQwymxzZl    mWvDoed
4     6ADvGQwymxzZl    mO1VNVd
...             ...        ...
2238  2mwvgZAyQqMa7    md7nK2O
2239  2mwvgZAyQqMa7    mO1D8PW
2240  2mwvgZAyQqMa7    mWyaxex
2241  2mwvgZAyQqMa7    m85XM3W
2242  2mwvgZAyQqMa7    m5DPDV6

[2243 rows x 2 columns]

In [327]:
# 정수 인코딩
movie_code = movie_list['movie_code'].unique().tolist()
movie_to_index = {x : i for i,x in enumerate(movie_code)}
index_to_movie = {i : x for i,x in enumerate(movie_code)}

user_code = pd.merge(user_movie_rating_origin['user_code'], user_movie_wish_origin['user_code'], on='user_code', how='outer')
user_code = user_code['user_code'].unique().tolist()
user_to_index = {x : i for i,x in enumerate(user_code)}
index_to_user = {i : x for i,x in enumerate(user_code)}

print(user_to_index)
print(index_to_user)

{'6ADvGQwymxzZl': 0, 'aJYMKqmk5loDW': 1, '87Gv7Z6QVqE6o': 2, '36lvXKdAPqXdn': 3, '17ovVmrwBqzyn': 4, 'ZBm5Ry4Wyvd46': 5, '8nPvyYQRPPvYo': 6, 'yKZx3Q9PEv4dJ': 7, 'DgwxAeQYNxrMj': 8, 'a9L5PwPPOvwg8': 9, '3BnvwnOBZqPAY': 10, 'OkexJVnVgxdbw': 11, 'JgkqlbMKD5X0b': 12, '87Gv7zgkmqE6o': 13, 'Mr95n1pbDvZPG': 14, 'RE952D72gqQ72': 15, '6ADvGQdzgxzZl': 16, 'Mr95nbQ175ZPG': 17, '6ADvGVWKKqzZl': 18, 'OkexJLenEvdbw': 19, '87Gv7Jy4LqE6o': 20, '17ovVQOL9qzyn': 21, '487Gv7rKJqE6o': 22, 'YMKqmppRrxloD': 23, 'YMKqmpDOyxloD': 24, 'D4WLxZjyrxroA': 25, 'JZ4vBbeMYvRXO': 26, 'R6OvKLlVW5N8V': 27, 'RE952bLDE5Q72': 28, 'jae5WMzyRq1P3': 29, 'Pznx9Kmk2Zv76': 30, 'djaxbLAoPvLw8': 31, 'YMr95nBkd5ZPG': 32, 'a9L5Pr4WOqwg8': 33, 'WRQxDDl6Pxdl9': 34, '6ADvGBykWqzZl': 35, '6ewxaBeAGqQ1m': 36, 'zNM5NkgYlx26j': 37, 'zNM5N0XoGq26j': 38, '6ADvG6gBdqzZl': 39, 'YMKqm2p7lvloD': 40, '36lvXPjGovXdn': 41, 'nkPvrb8wrvgar': 42, 'R6OvKeOr9xN8V': 43, '6ewxa3lLkvQ1m': 44, '36lvX1YAJ5Xdn': 45, 'K6ExjB1wwxX1O': 46, 'pnb4xkpAmqOAz': 47, '3Bnvw0k1Z5PAY': 48, '6ADvGywbdxzZl': 49, 'R6OvKP7nY5N8V': 50, 'Mr95nAmmjvZPG': 51, 'ZBm5ROMzaxd46': 52, 'djaxbKjy7qLw8': 53, 'nkPvry2J8Nqga': 54, 'yKZx3nMLZ54dJ': 55, 'a9L5PYM1Wxwg8': 56, 'Jgkql883nqX0b': 57, 'zNM5N6jd7526j': 58, 'WRQxDJ40Xvdl9': 59, 'Pznx9ED3jx761': 60, 'WwRqo1MXV5lzB': 61, 'j4PxOYL3wZvp0': 62, '6nkPvrPpmxgar': 63, '7gdxd6KQVvGYJ': 64, 'JgAx8W1GD5LbO': 65, 'OQ9L5pXdg5Nb0': 66, 'KWRQxD6b6vdl9': 67, 'JZ4vB8rVGxRXO': 68, 'jae5Wj9eGv1P3': 69, 'Q9L5pA29KxNb0': 70, '7gdxd9E2RqGYJ': 71, 'ZWpqM3PNN5rkn': 72, 'XZBm5RYOavd46': 73, 'jae5W93GRq1P3': 74, '87Gv7d6ym5E6o': 75, 'ld0q04b4Eq6Xn': 76, 'nkPvrJdJOvgar': 77, 'VRZv4zNNPxr6y': 78, '8BRveZdmJ56VJ': 79, '3BnvwPa0g5PAY': 80, 'JgkqlbDM45X0b': 81, 'Mr95nJBED5ZPG': 82, 'DgwxAk4ZEvrMj': 83, 'zNM5N1gz7v26j': 84, 'nkPvrL1ADxgar': 85, 'JZ4vB0NLzWxRX': 86, 'D4WLxZKoZqroA': 87, 'NP9vLMwDK56kl': 88, '3BnvwEyEpxPAY': 89, '8BRveVmZQ56VJ': 90, 'WwRqoR4OWxlzB': 91, 'R6OvKWM3WvN8V': 92, 'WwRqoymby5lzB': 93, 'g64qzjX8eqER0': 94, 'Vj4PxOlMoqp0Q': 95, '6NW5QPEEgv1Yo': 96, '6ADvGWR0YvzZl': 97, 'Vj4PxO1wrvp0Q': 98, 'GRE952waMxQ72': 99, '3BnvwlaQg5PAY': 100, 'VRZv4laWnvr6y': 101, '8nPvy2az45Yo0': 102, '17ovVLmd9xzyn': 103, '87Gv72GPVqE6o': 104, 'R6OvK7DEYvN8V': 105, 'WwRqo0dG0vlzB': 106, 'j4PxOBleA5p0Q': 107, '7gdxd6e32vGYJ': 108, 'WwRqowXW0qlzB': 109, 'nkPvrlYOrxgar': 110, 'Mr95n1R2zvZPG': 111, 'JZ4vBPanzxRXO': 112, 'zNM5NyLp3v26j': 113, 'ANP9vLWJjq6kl': 114, 'BJZ4vBP2zxRXO': 115, 'g64qzYdaLxER0': 116, 'WwRqoK1N1qlzB': 117, 'GRE952GgxQ72e': 118, '87Gv7NGkPmqE6': 119, 'dP8v638205WeJ': 120, '36lvXrPj3xXdn': 121, 'ZBm5R0wEJ6qd4': 122, 'JZ4vB2BMWvRXO': 123, 'LzNM5Nga7x26j': 124, 'OkexJZgB4xdbw': 125, 'g64qz8Gkp5ER0': 126, 'Q9L5p12oMxNb0': 127, 'WRQxDOw1V5dl9': 128, '36lvX3mXZqXdn': 129, '17ovV08glxzyn': 130, 'JgkqlJJLK5X0b': 131, 'nb4xkpAYGqOAz': 132, 'zNM5NjDpd526j': 133, 'yKZx3nJg254dJ': 134, '4WLxZQ9kk5roA': 135, 'R6OvKdkrE65N8': 136, 'KWRQxDPXVxdl9': 137, 'JZ4vBgakG5RXO': 138, 'nkPvr9ayNqgar': 139, 'Mr95nAagjvZPG': 140, '2mwvgYmarxMa7': 141, 'YaR5Y2PnlxgX1': 142, 'D8BRveaDv6VJb': 143, 'yKZx3MnVEv4dJ': 144, 'JZ4vBRBaWvRXO': 145, 'VRZv4Jpgpxr6y': 146, 'VRZv4eONXe5r6': 147, '6NW5QPKoKv1Yo': 148, 'RJgkqlm02vX0b': 149, 'Mr95nylydvZPG': 150, 'WwRqodpgXvlzB': 151, 'RE952B1pg5Q72': 152, 'YaR5Y0Z89vgX1': 153, '2mwvg1VaJxMa7': 154, '6ADvGADAYxzZl': 155, 'a9L5PaVAPxwg8': 156, 'ZWpqM2k2Rvrkn': 157, 'YMKqmo2Oe5loD': 158, 'RE952LmLgqQ72': 159, 'VRZv4b6NZxr6y': 160, 'WwRqo1Wyy5lzB': 161, 'zNM5NdYrKq26j': 162, 'WRQxDkw965dl9': 163, 'JgkqlbgWn5X0b': 164, 'RE95229pa5Q72': 165, 'Qgy51MPlQ5Djk': 166, 'Jgkqlrrkb5X0b': 167, '8nPvy4gr4qYo0': 168, 'VRZv4L201vr6y': 169, '8nPvyYebEvYo0': 170, 'YMKqm2bPrvloD': 171, 'zNM5Nynjnv26j': 172, 'JZ4vB0W72YxRX': 173, 'WRQxDj7J6vdl9': 174, '2mwvggmrrvMa7': 175, 'Pznx9KEljzv76': 176, '8nPvymMB9vYo0': 177, 'g64qzB1EMqER0': 178, '36lvX8PaJvXdn': 179, 'JZ4vBaGdmqRXO': 180, 'JZ4vBJOGWvRXO': 181, '3BnvwG7rBvPAY': 182, 'Mr95n3aKzxZPG': 183, 'ZBm5R0Mj7qd46': 184, '17ovVA0mRqzyn': 185, 'p24BqEAGmqrjn': 186, 'VRZv4d0EPvr6y': 187, 'g64qzBA8RqER0': 188, 'JZ4vBdYOZxRXO': 189, 'nb4xk23Md5OAz': 190, 'nkPvrb9ylvgar': 191, 'D4WLxZmj75roA': 192, 'jae5Weky6q1P3': 193, '6NW5QnNDZx1Yo': 194, 'kPznx988z5761': 195, 'yKZx38jooq4dJ': 196, 'j4PxOwOYkxp0Q': 197, 'Qgy51QKN75Djk': 198, 'YMKqmnNJlvloD': 199, '6ADvG6aJAqzZl': 200, '4WLxZl4eEvroA': 201, 'ld0q0o7PYx6Xn': 202, 'ZWpqMlmdLxrkn': 203, 'VRZv4EWgw5r6y': 204, 'YMKqmON2k5loD': 205, 'nkPvrbOeNvgar': 206, 'yKZx3BJ6E54dJ': 207, 'g64qznWbnqER0': 208, '36lvX8e9PvXdn': 209, '8BRvew8EJx6VJ': 210, 'nkPvr8BbExgar': 211, 'jae5WBerVv1P3': 212, '2mwvg71E9vMa7': 213, '8nPvyGlM4xYo0': 214, 'VRZv4BnBexr6y': 215, 'JgAx8ybOVqLbO': 216, 'j4PxOAzBmvp0Q': 217, '4WLxZp37rvroA': 218, '36lvXywPj5Xdn': 219, 'ZBm5RAJaPvd46': 220, '87Gv7enzmxE6o': 221, '36lvXmWQZ5Xdn': 222, 'RE952A1o1vQ72': 223, 'pnb4xk04dqOAz': 224, '8nPvyG32ZxYo0': 225, 'WwRqopwVyvlzB': 226, 'Mr95nPeo7qZPG': 227, 'dP8v6MZBMqWeJ': 228, 'VRZv4J0Pwxr6y': 229, 'OkexJy4Jg5dbw': 230, '8BRve2Yen56VJ': 231, 'a9L5PE7pgxwg8': 232, '6NW5QBzYgx1Yo': 233, '3Bnvw4DJ05PAY': 234, '487Gv7NDlqE6o': 235, 'K6ExjdXO1vX1O': 236, '3Bnvw1mdKxPAY': 237, '6NW5QraB6x1Yo': 238, 'nkPvrZwJDvgar': 239, 'OkexJLPorvdbw': 240, 'Pznx9pXBo5761': 241, '6NW5QnEz7x1Yo': 242, 'djaxb48RPvLw8': 243, 'YaR5YlVEwvgX1': 244, '24BqEknmV5rjn': 245, 'ZWpqMOkRl5rkn': 246, 'JgAx8k2wow5Lb': 247, 'WwRqo9XOV5lzB': 248, 'Q9L5pQ9ogxNb0': 249, 'djaxbr0KPxLw8': 250, '6ADvG6VGLqzZl': 251, '8BRveN4jD56VJ': 252, '17ovV7K4R5zyn': 253, 'j4PxOEBKdvp0Q': 254, '2mwvgNnAOqMa7': 255, 'VRZv4n39Pxr6y': 256, '2mwvgZAyQqMa7': 257}
{0: '6ADvGQwymxzZl', 1: 'aJYMKqmk5loDW', 2: '87Gv7Z6QVqE6o', 3: '36lvXKdAPqXdn', 4: '17ovVmrwBqzyn', 5: 'ZBm5Ry4Wyvd46', 6: '8nPvyYQRPPvYo', 7: 'yKZx3Q9PEv4dJ', 8: 'DgwxAeQYNxrMj', 9: 'a9L5PwPPOvwg8', 10: '3BnvwnOBZqPAY', 11: 'OkexJVnVgxdbw', 12: 'JgkqlbMKD5X0b', 13: '87Gv7zgkmqE6o', 14: 'Mr95n1pbDvZPG', 15: 'RE952D72gqQ72', 16: '6ADvGQdzgxzZl', 17: 'Mr95nbQ175ZPG', 18: '6ADvGVWKKqzZl', 19: 'OkexJLenEvdbw', 20: '87Gv7Jy4LqE6o', 21: '17ovVQOL9qzyn', 22: '487Gv7rKJqE6o', 23: 'YMKqmppRrxloD', 24: 'YMKqmpDOyxloD', 25: 'D4WLxZjyrxroA', 26: 'JZ4vBbeMYvRXO', 27: 'R6OvKLlVW5N8V', 28: 'RE952bLDE5Q72', 29: 'jae5WMzyRq1P3', 30: 'Pznx9Kmk2Zv76', 31: 'djaxbLAoPvLw8', 32: 'YMr95nBkd5ZPG', 33: 'a9L5Pr4WOqwg8', 34: 'WRQxDDl6Pxdl9', 35: '6ADvGBykWqzZl', 36: '6ewxaBeAGqQ1m', 37: 'zNM5NkgYlx26j', 38: 'zNM5N0XoGq26j', 39: '6ADvG6gBdqzZl', 40: 'YMKqm2p7lvloD', 41: '36lvXPjGovXdn', 42: 'nkPvrb8wrvgar', 43: 'R6OvKeOr9xN8V', 44: '6ewxa3lLkvQ1m', 45: '36lvX1YAJ5Xdn', 46: 'K6ExjB1wwxX1O', 47: 'pnb4xkpAmqOAz', 48: '3Bnvw0k1Z5PAY', 49: '6ADvGywbdxzZl', 50: 'R6OvKP7nY5N8V', 51: 'Mr95nAmmjvZPG', 52: 'ZBm5ROMzaxd46', 53: 'djaxbKjy7qLw8', 54: 'nkPvry2J8Nqga', 55: 'yKZx3nMLZ54dJ', 56: 'a9L5PYM1Wxwg8', 57: 'Jgkql883nqX0b', 58: 'zNM5N6jd7526j', 59: 'WRQxDJ40Xvdl9', 60: 'Pznx9ED3jx761', 61: 'WwRqo1MXV5lzB', 62: 'j4PxOYL3wZvp0', 63: '6nkPvrPpmxgar', 64: '7gdxd6KQVvGYJ', 65: 'JgAx8W1GD5LbO', 66: 'OQ9L5pXdg5Nb0', 67: 'KWRQxD6b6vdl9', 68: 'JZ4vB8rVGxRXO', 69: 'jae5Wj9eGv1P3', 70: 'Q9L5pA29KxNb0', 71: '7gdxd9E2RqGYJ', 72: 'ZWpqM3PNN5rkn', 73: 'XZBm5RYOavd46', 74: 'jae5W93GRq1P3', 75: '87Gv7d6ym5E6o', 76: 'ld0q04b4Eq6Xn', 77: 'nkPvrJdJOvgar', 78: 'VRZv4zNNPxr6y', 79: '8BRveZdmJ56VJ', 80: '3BnvwPa0g5PAY', 81: 'JgkqlbDM45X0b', 82: 'Mr95nJBED5ZPG', 83: 'DgwxAk4ZEvrMj', 84: 'zNM5N1gz7v26j', 85: 'nkPvrL1ADxgar', 86: 'JZ4vB0NLzWxRX', 87: 'D4WLxZKoZqroA', 88: 'NP9vLMwDK56kl', 89: '3BnvwEyEpxPAY', 90: '8BRveVmZQ56VJ', 91: 'WwRqoR4OWxlzB', 92: 'R6OvKWM3WvN8V', 93: 'WwRqoymby5lzB', 94: 'g64qzjX8eqER0', 95: 'Vj4PxOlMoqp0Q', 96: '6NW5QPEEgv1Yo', 97: '6ADvGWR0YvzZl', 98: 'Vj4PxO1wrvp0Q', 99: 'GRE952waMxQ72', 100: '3BnvwlaQg5PAY', 101: 'VRZv4laWnvr6y', 102: '8nPvy2az45Yo0', 103: '17ovVLmd9xzyn', 104: '87Gv72GPVqE6o', 105: 'R6OvK7DEYvN8V', 106: 'WwRqo0dG0vlzB', 107: 'j4PxOBleA5p0Q', 108: '7gdxd6e32vGYJ', 109: 'WwRqowXW0qlzB', 110: 'nkPvrlYOrxgar', 111: 'Mr95n1R2zvZPG', 112: 'JZ4vBPanzxRXO', 113: 'zNM5NyLp3v26j', 114: 'ANP9vLWJjq6kl', 115: 'BJZ4vBP2zxRXO', 116: 'g64qzYdaLxER0', 117: 'WwRqoK1N1qlzB', 118: 'GRE952GgxQ72e', 119: '87Gv7NGkPmqE6', 120: 'dP8v638205WeJ', 121: '36lvXrPj3xXdn', 122: 'ZBm5R0wEJ6qd4', 123: 'JZ4vB2BMWvRXO', 124: 'LzNM5Nga7x26j', 125: 'OkexJZgB4xdbw', 126: 'g64qz8Gkp5ER0', 127: 'Q9L5p12oMxNb0', 128: 'WRQxDOw1V5dl9', 129: '36lvX3mXZqXdn', 130: '17ovV08glxzyn', 131: 'JgkqlJJLK5X0b', 132: 'nb4xkpAYGqOAz', 133: 'zNM5NjDpd526j', 134: 'yKZx3nJg254dJ', 135: '4WLxZQ9kk5roA', 136: 'R6OvKdkrE65N8', 137: 'KWRQxDPXVxdl9', 138: 'JZ4vBgakG5RXO', 139: 'nkPvr9ayNqgar', 140: 'Mr95nAagjvZPG', 141: '2mwvgYmarxMa7', 142: 'YaR5Y2PnlxgX1', 143: 'D8BRveaDv6VJb', 144: 'yKZx3MnVEv4dJ', 145: 'JZ4vBRBaWvRXO', 146: 'VRZv4Jpgpxr6y', 147: 'VRZv4eONXe5r6', 148: '6NW5QPKoKv1Yo', 149: 'RJgkqlm02vX0b', 150: 'Mr95nylydvZPG', 151: 'WwRqodpgXvlzB', 152: 'RE952B1pg5Q72', 153: 'YaR5Y0Z89vgX1', 154: '2mwvg1VaJxMa7', 155: '6ADvGADAYxzZl', 156: 'a9L5PaVAPxwg8', 157: 'ZWpqM2k2Rvrkn', 158: 'YMKqmo2Oe5loD', 159: 'RE952LmLgqQ72', 160: 'VRZv4b6NZxr6y', 161: 'WwRqo1Wyy5lzB', 162: 'zNM5NdYrKq26j', 163: 'WRQxDkw965dl9', 164: 'JgkqlbgWn5X0b', 165: 'RE95229pa5Q72', 166: 'Qgy51MPlQ5Djk', 167: 'Jgkqlrrkb5X0b', 168: '8nPvy4gr4qYo0', 169: 'VRZv4L201vr6y', 170: '8nPvyYebEvYo0', 171: 'YMKqm2bPrvloD', 172: 'zNM5Nynjnv26j', 173: 'JZ4vB0W72YxRX', 174: 'WRQxDj7J6vdl9', 175: '2mwvggmrrvMa7', 176: 'Pznx9KEljzv76', 177: '8nPvymMB9vYo0', 178: 'g64qzB1EMqER0', 179: '36lvX8PaJvXdn', 180: 'JZ4vBaGdmqRXO', 181: 'JZ4vBJOGWvRXO', 182: '3BnvwG7rBvPAY', 183: 'Mr95n3aKzxZPG', 184: 'ZBm5R0Mj7qd46', 185: '17ovVA0mRqzyn', 186: 'p24BqEAGmqrjn', 187: 'VRZv4d0EPvr6y', 188: 'g64qzBA8RqER0', 189: 'JZ4vBdYOZxRXO', 190: 'nb4xk23Md5OAz', 191: 'nkPvrb9ylvgar', 192: 'D4WLxZmj75roA', 193: 'jae5Weky6q1P3', 194: '6NW5QnNDZx1Yo', 195: 'kPznx988z5761', 196: 'yKZx38jooq4dJ', 197: 'j4PxOwOYkxp0Q', 198: 'Qgy51QKN75Djk', 199: 'YMKqmnNJlvloD', 200: '6ADvG6aJAqzZl', 201: '4WLxZl4eEvroA', 202: 'ld0q0o7PYx6Xn', 203: 'ZWpqMlmdLxrkn', 204: 'VRZv4EWgw5r6y', 205: 'YMKqmON2k5loD', 206: 'nkPvrbOeNvgar', 207: 'yKZx3BJ6E54dJ', 208: 'g64qznWbnqER0', 209: '36lvX8e9PvXdn', 210: '8BRvew8EJx6VJ', 211: 'nkPvr8BbExgar', 212: 'jae5WBerVv1P3', 213: '2mwvg71E9vMa7', 214: '8nPvyGlM4xYo0', 215: 'VRZv4BnBexr6y', 216: 'JgAx8ybOVqLbO', 217: 'j4PxOAzBmvp0Q', 218: '4WLxZp37rvroA', 219: '36lvXywPj5Xdn', 220: 'ZBm5RAJaPvd46', 221: '87Gv7enzmxE6o', 222: '36lvXmWQZ5Xdn', 223: 'RE952A1o1vQ72', 224: 'pnb4xk04dqOAz', 225: '8nPvyG32ZxYo0', 226: 'WwRqopwVyvlzB', 227: 'Mr95nPeo7qZPG', 228: 'dP8v6MZBMqWeJ', 229: 'VRZv4J0Pwxr6y', 230: 'OkexJy4Jg5dbw', 231: '8BRve2Yen56VJ', 232: 'a9L5PE7pgxwg8', 233: '6NW5QBzYgx1Yo', 234: '3Bnvw4DJ05PAY', 235: '487Gv7NDlqE6o', 236: 'K6ExjdXO1vX1O', 237: '3Bnvw1mdKxPAY', 238: '6NW5QraB6x1Yo', 239: 'nkPvrZwJDvgar', 240: 'OkexJLPorvdbw', 241: 'Pznx9pXBo5761', 242: '6NW5QnEz7x1Yo', 243: 'djaxb48RPvLw8', 244: 'YaR5YlVEwvgX1', 245: '24BqEknmV5rjn', 246: 'ZWpqMOkRl5rkn', 247: 'JgAx8k2wow5Lb', 248: 'WwRqo9XOV5lzB', 249: 'Q9L5pQ9ogxNb0', 250: 'djaxbr0KPxLw8', 251: '6ADvG6VGLqzZl', 252: '8BRveN4jD56VJ', 253: '17ovV7K4R5zyn', 254: 'j4PxOEBKdvp0Q', 255: '2mwvgNnAOqMa7', 256: 'VRZv4n39Pxr6y', 257: '2mwvgZAyQqMa7'}

In [328]:
movie_list['movie_code'] = movie_list['movie_code'].map(movie_to_index)

user_movie_rating = user_movie_rating_origin.copy()
user_movie_wish = user_movie_wish_origin.copy()

user_movie_rating['user_code'] = user_movie_rating['user_code'].map(user_to_index)
user_movie_rating['movie_code'] = user_movie_rating['movie_code'].map(movie_to_index)

user_movie_wish['user_code'] = user_movie_wish['user_code'].map(user_to_index)
user_movie_wish['movie_code'] = user_movie_wish['movie_code'].map(movie_to_index)

In [329]:
print(movie_list)
print(user_movie_rating)
print(user_movie_wish)

     movie_code                  title  year                               genres  ratings_avg
0             0                 대부 일대기  1992                        ['드라마', '범죄']          4.4
1             1                 쇼생크 탈출  1994                              ['드라마']          4.4
2             2               인생은 아름다워  1997                       ['드라마', '코미디']          4.4
3             3          하이큐!! 콘셉트의 싸움  2017                     ['애니메이션', '스포츠']          4.4
4             4            12인의 노한 사람들  1997                        ['드라마', '범죄']          4.2
..          ...                    ...   ...                                  ...          ...
292         292                     써니  2011                       ['드라마', '코미디']          4.0
293         293                 미녀와 야수  1991  ['애니메이션', '가족', '판타지', '로맨스', '키즈']          4.0
294         294          노인을 위한 나라는 없다  2007                 ['범죄', '스릴러', '드라마']          4.0
295         295  내가 널 사랑할 수 없는 10가지 이유  1999                   ['로맨틱코미디', '틴에이저']          4.0
296         296                     벌새  2018                              ['드라마']          3.9

[297 rows x 5 columns]
      user_code  movie_code  movie_rating
0             0         1.0           4.0
1             0         2.0           4.0
2             0         5.0           3.0
3             0         7.0           3.0
4             0         8.0           5.0
...         ...         ...           ...
2575        257         NaN           2.0
2576        257         1.0           5.0
2577        257         2.0           4.5
2578        257         5.0           5.0
2579        257         7.0           5.0

[2580 rows x 3 columns]
      user_code  movie_code
0             0        16.0
1             0         NaN
2             0        94.0
3             0         NaN
4             0         NaN
...         ...         ...
2238        257        40.0
2239        257        34.0
2240        257         NaN
2241        257        52.0
2242        257         NaN

[2243 rows x 2 columns]

In [330]:
# 결측치 제거 -> movie_list에 없는 movie일 때
# list에 있는 영화만을 가지고 train하기 위해 일단 list에 없는 영화에 대한 평가 & wish 는 제거
user_movie_rating.dropna(axis=0, inplace=True)
user_movie_wish.dropna(axis=0, inplace=True)

print(user_movie_rating)
print(user_movie_wish)

      user_code  movie_code  movie_rating
0             0         1.0           4.0
1             0         2.0           4.0
2             0         5.0           3.0
3             0         7.0           3.0
4             0         8.0           5.0
...         ...         ...           ...
2574        257         0.0           4.5
2576        257         1.0           5.0
2577        257         2.0           4.5
2578        257         5.0           5.0
2579        257         7.0           5.0

[1761 rows x 3 columns]
      user_code  movie_code
0             0        16.0
2             0        94.0
5             0        79.0
6             0       205.0
9             0       191.0
...         ...         ...
2235        257        26.0
2236        257        50.0
2238        257        40.0
2239        257        34.0
2241        257        52.0

[901 rows x 2 columns]

In [331]:
repre_rating = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_mini-project/data/rating_data_pre.csv')
repre_wish = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_mini-project/data/wish_data_pre.csv')

# title -> movie_code
title_to_code = movie_list[['title', 'movie_code']].set_index("title").T.to_dict('index')
title_to_code = title_to_code['movie_code']

# data preprocessing
repre_rating['movie_code'] = repre_rating['제목'].map(title_to_code)
repre_rating = repre_rating.dropna(axis=0)
repre_rating.columns = ['title', 'genres', 'total_avg', 'movie_rating', 'movie_code']

repre_wish['movie_code'] = repre_wish['제목'].map(title_to_code)
repre_wish = repre_wish.dropna(axis=0)
repre_wish.columns = ['title', 'genres', 'total_avg', 'movie_code']

repre_rating['user_code'] = [258 for _ in range(len(repre_rating))]
repre_wish['user_code'] = [258 for _ in range(len(repre_wish))]

repre_rating = repre_rating[['user_code', 'movie_code', 'movie_rating']]
repre_wish = repre_wish[['user_code', 'movie_code']]

# 중복 제거
repre_rating = repre_rating.drop_duplicates(['movie_code'])
repre_wish = repre_wish.drop_duplicates(['movie_code'])

# user_movie_rating 에 합치기
user_movie_rating = user_movie_rating.append(repre_rating)
user_movie_wish = user_movie_wish.append(repre_wish)

display(user_movie_rating)
display(user_movie_wish)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """

      user_code  movie_code  movie_rating
0             0         1.0           4.0
1             0         2.0           4.0
2             0         5.0           3.0
3             0         7.0           3.0
4             0         8.0           5.0
...         ...         ...           ...
5028        258        95.0           4.0
5031        258       243.0           3.5
5044        258       227.0           3.5
5056        258       282.0           3.5
5090        258        47.0           4.0

[1961 rows x 3 columns]

      user_code  movie_code
0             0        16.0
2             0        94.0
5             0        79.0
6             0       205.0
9             0       191.0
...         ...         ...
4121        258       192.0
4486        258        62.0
4676        258       189.0
4878        258       234.0
5259        258       274.0

[1142 rows x 2 columns]

In [332]:
user_movie_rating['movie_code'] = user_movie_rating['movie_code'].apply(int)
user_movie_wish['movie_code'] = user_movie_wish['movie_code'].apply(int)

print(user_movie_rating)
print(user_movie_wish)

      user_code  movie_code  movie_rating
0             0           1           4.0
1             0           2           4.0
2             0           5           3.0
3             0           7           3.0
4             0           8           5.0
...         ...         ...           ...
5028        258          95           4.0
5031        258         243           3.5
5044        258         227           3.5
5056        258         282           3.5
5090        258          47           4.0

[1961 rows x 3 columns]
      user_code  movie_code
0             0          16
2             0          94
5             0          79
6             0         205
9             0         191
...         ...         ...
4121        258         192
4486        258          62
4676        258         189
4878        258         234
5259        258         274

[1142 rows x 2 columns]

In [333]:
# shuffle
user_movie_rating = user_movie_rating.sample(frac=1).reset_index()
print(user_movie_rating)

reader = Reader(rating_scale=(0.0, 5.0))
data = Dataset.load_from_df(df=user_movie_rating[['user_code', 'movie_code', 'movie_rating']], reader=reader)
print(data)

      index  user_code  movie_code  movie_rating
0       808         80          13           4.0
1       917         91           1           4.5
2      2489        248          11           2.0
3       179         17          10           4.5
4       298         29           8           4.0
...     ...        ...         ...           ...
1956    999         99          14           4.5
1957   2074        207           8           5.0
1958    595         59          10           4.0
1959   2468        246          54           4.0
1960   1613        161          12           3.5

[1961 rows x 4 columns]
<surprise.dataset.DatasetAutoFolds object at 0x7fc1627ef0b8>

In [334]:
from surprise.model_selection import cross_validate, GridSearchCV
from surprise import *

algo_str = "SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering"
algo = [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(),KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]

benchmark = []
# iterate all algorithms
for i in range(len(algo)) :
    results = cross_validate(algo[i], data, measures=['RMSE', 'MAE'], cv=5, verbose=False)
    # print(results)
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([algo_str.split(", ")[i]], index=["Algorithm"]))
    benchmark.append(tmp)

pd.DataFrame(benchmark).set_index("Algorithm").sort_values(["test_rmse", "test_mae"])

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

                 test_rmse  test_mae  fit_time  test_time
Algorithm
SVDpp             0.610572  0.472452  0.537123   0.007439
KNNBaseline       0.624880  0.476404  0.006228   0.057744
KNNWithMeans      0.629553  0.484378  0.006701   0.051134
SlopeOne          0.629799  0.474899  0.004721   0.003774
KNNWithZScore     0.631813  0.485909  0.014258   0.054273
SVD               0.635463  0.492869  0.094384   0.002839
BaselineOnly      0.640081  0.498722  0.001973   0.001462
KNNBasic          0.660821  0.507006  0.005150   0.047413
CoClustering      0.679638  0.519269  0.052217   0.002151
NMF               0.689283  0.543903  0.105199   0.002088
NormalPredictor   0.962894  0.764774  0.001720   0.002476

In [335]:
param_grid = {
    'n_epochs':[5,10,50,100],
    'n_factors' : [10,20,50,100]
}

gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5)
gs.fit(data)
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.6085065730575304
{'n_epochs': 50, 'n_factors': 10}

#### fit & predict

In [336]:
user_id = 258
print(user_movie_rating['user_code'].unique())

[ 80  91 248  17  29 170  44 168  71 144 199 258  97  89  72  59 200  11
 140 102 234 155 151  45 159 240 150  23 230  82   8 217  87 246 237 146
 171  70 241 158 181 179  22  32  28   0 224  12 190 127 197 112  26  62
  98 138 152  10 141 209 256 249 185 207 117 189 114 119 250 165 226  43
 109  68  39 123  20 183 205  55 223 233   1 186 132  34  92  84  51 104
 162 221 193 175  35 219 173 255 231 251  30  13  75  99  38 105  63  77
 227   5 116 133  95 236 213 169 160  65  96  36 192  57 254  81 153  53
 106 177 218 157 122 198  42  46 245 130 215 172  24 253 126  40 210  27
 174 103 142 129  88  90 203  47 137 107 220 182  83 196  18 110  67 149
 113 135 147 145 202   6 154  31  37 204  60  79 100 238 225 118 176 184
 206 164 257  58 187 180  16 166  69 235   9 244 191 156   3  76  48  93
 195  64 247 232 194 120 211 216  50 161 188   2 115 125  49  19 239 131
  21 222  66  25  15  41  85 228 201  14 121 163 212   4 148 111   7  52
  33 229 243 101 167  94 139 136  56 242  61 208 214  74 143 134 252]

In [337]:
algo = gs.best_estimator['rmse']
algo.fit(data.build_full_trainset())

pred = algo.predict(str(user_id), '200')
print(pred)

user: 258        item: 200        r_ui = None   est = 4.17   {'was_impossible': False}

In [338]:
preds = pd.DataFrame(columns=['pred_est', 'movie_code'])
for i in movie_list['movie_code'].unique() :
    pred = algo.predict(str(user_id), i)
    # preds.append((pred.est, pred.iid))

    preds = preds.append({
        'pred_est' : pred.est,
        'movie_code' : pred.iid
    }, ignore_index=True)

preds['movie_code'] = preds['movie_code'].apply(int)
preds = preds.sort_values(by='pred_est', ascending=False)
preds

     pred_est  movie_code
28   4.553255          28
16   4.529723          16
14   4.434716          14
7    4.412449           7
129  4.384048         129
..        ...         ...
17   3.856047          17
20   3.795236          20
107  3.794084         107
27   3.722853          27
39   3.680542          39

[297 rows x 2 columns]

In [339]:
movie_list[movie_list['movie_code'] == 28]

    movie_code title  year                     genres  ratings_avg
28          28  매트릭스  1999  ['판타지', 'SF', '액션', '모험']          4.2

### 높게 평가할 영화 + 보고 싶은 영화

In [340]:
user_movie_wish['user_code'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   9,  11,  13,  15,  16,
        18,  19,  21,  22,  23,  24,  26,  27,  28,  29,  30,  34,  35,
        39,  40,  41,  42,  43,  44,  46,  47,  48,  50,  51,  55,  56,
        57,  58,  62,  63,  64,  65,  66,  67,  68,  69,  70,  72,  75,
        76,  77,  79,  80,  81,  83,  84,  87,  88,  91,  92,  93,  95,
        97,  98,  99, 101, 102, 107, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 124, 126, 127, 129, 130, 132, 133, 134,
       137, 138, 139, 140, 141, 145, 146, 147, 148, 150, 151, 152, 154,
       155, 157, 158, 159, 160, 161, 162, 163, 166, 168, 169, 170, 171,
       173, 174, 175, 176, 177, 179, 180, 181, 183, 184, 185, 186, 189,
       191, 192, 194, 195, 196, 197, 199, 200, 201, 202, 203, 205, 207,
       209, 211, 212, 213, 214, 216, 217, 219, 220, 221, 223, 224, 226,
       227, 231, 232, 233, 235, 236, 237, 241, 243, 244, 245, 246, 247,
       249, 250, 252, 254, 256, 257, 258])

In [341]:
user_wish = user_movie_wish[user_movie_wish['user_code'] == user_id]

top_10 = pd.merge(user_wish, preds, on='movie_code', how='right').iloc[:10]
top_10 = top_10.sort_values(by='pred_est', ascending=False)
top_10

   user_code  movie_code  pred_est
7      258.0          87  4.224635
2      258.0         272  4.173023
0      258.0         215  4.171851
4      258.0         101  4.171851
6      258.0          59  4.171851
8      258.0         197  4.171851
9      258.0         113  4.171851
1      258.0         243  4.110737
5      258.0         266  4.109467
3      258.0         103  4.091954

In [342]:
pd.merge(top_10['movie_code'], movie_list, on='movie_code', how='left')

   movie_code                 title  year                                           genres  ratings_avg
0          87                 타인의 삶  2006                                   ['스릴러', '드라마']          4.0
1         272                  1917  2019                                    ['드라마', '전쟁']          4.2
2         215   디지몬 어드벤처 1기: 운명적 만남  1999  ['애니메이션', '가족', '액션', '모험', '판타지', 'SF', '스릴러']          4.1
3         101  루스 베이더 긴즈버그: 나는 반대한다  2018                                        ['다큐멘터리']          4.2
4          59             우먼 인 할리우드  2018                                        ['다큐멘터리']          4.1
5         197                 셜록 2세  1924                                    ['코미디', '가족']          4.1
6         113                  카메라맨  1928                             ['로맨스', '코미디', '가족']          4.1
7         243      더 폴: 오디어스와 환상의 문  2006                             ['모험', '드라마', '판타지']          4.0
8         266                코미디의 왕  1983                             ['드라마', '범죄', '코미디']          4.0
9         103              포드 V 페라리  2019                                    ['액션', '드라마']          4.0